/* ============= introduction.html ============= */
.introduction{
    /* background: gray; */
}

.introduction_inner{
    /* width: 760px; */
    max-width: 100%;
    /* background: lightgrey; */
    margin: 0 auto;
    margin-top: 20px;
    justify-content: space-between;
    display: flex;
}

.profile{
    width: 40%;
}

.profile-picture{
    height: 200px;
    border-radius: 50%;
    margin: auto;
    display: block;
}

.name{
    font-size: 22pt;
    display: block;
}

.designation{
    font-size: 16pt;
    display: block;
}
.company{
    font-size: 16pt;
    color: #076814;
}

.contact{
    font-size: 24pt;
}
.contact a + a {
    padding: 5px;
}

a:hover{
    filter: brightness(150%);
}

.summary{
    width: 60%;
    text-align: left;
    margin-top: 30px;
    margin-right: 10%;
}

.greeting{
    font-size: 24pt;
}

.summary p{
    border-left: 3px solid darkgray;
    padding-left: 10px;
}
.experienced-fields{
   margin-left: 0px;
}

.experienced-fields li{
    border: 1px solid #0bceaf;
    padding: 4px 10px;
    border-radius: 4px;
    list-style: none;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
}

/* ============ what-i-do.html======== */
.what-i-do{
    /* background: greenyellow; */
}

.what-i-do-inner{
    width: 760px;
    max-width: 100%;
    /* background: lightgray; */
    margin: 0 auto;
    justify-content: space-between;
}

.my-doing-list{
    list-style: none;
    display: flex;
    background: gray;
}

.my-doing-card{
    height: 300px;
    width: 15%;
    min-width: 300px;
    display: block;
    background: lightblue;
    padding: 5px;
    margin: 5px;;
}

.my-doing-card-head{
    display: flex;
    background: lightcoral;
    padding: 0px;
    margin: 0px;
}

.my-doing-card-head img{
    height: 50px;
    width: 50px;
    margin-left: 5px;
    border-radius: 50%;
}

.my-doing-card-head h2{
    margin: 0px;
    padding: 5px;
}

/* ============ skills.html======== */
.skills{
    /* background: blue; */
}

.skills-inner{
    width: 760px;
    max-width: 100%;
    /* background: lightgray; */
    margin: 0 auto;
    justify-content: space-between;
}

/* ============ experiences.html======== */
.experiences{
    /* background: magenta; */
}

.experiences-inner{
    width: 760px;
    max-width: 100%;
    /* background: lightgray; */
    margin: 0 auto;
    justify-content: space-between;
}

/* ============ projects.html======== */
.projects{
    /* background: goldenrod; */
}

.projects-inner{
    width: 760px;
    max-width: 100%;
    /* background: lightgray; */
    margin: 0 auto;
    justify-content: space-between;
}

/* ============ recent-posts.html======== */
.recent-posts{
    /* background: cyan; */
}

.recent-posts-inner{
    width: 760px;
    max-width: 100%;
    /* background: lightgray; */
    margin: 0 auto;
    justify-content: space-between;
}

/* ============ achievements.html======== */
.achievements{
    /* background: forestgreen; */
}

.achievements-inner{
    width: 760px;
    max-width: 100%;
    /* background: lightgray; */
    margin: 0 auto;
    justify-content: space-between;
}