/* ============= introduction.html ============= */
.introduction{
    /* background: gray; */
}

.introduction_inner{
    /* width: 760px; */
    max-width: 100%;
    /* background: lightgrey; */
    margin: 0 auto;
    margin-top: 20px;
    justify-content: space-between;
    display: flex;
}

.profile{
    width: 50%;
}

.profile-picture{
    height: 200px;
    border-radius: 50%;
    margin: auto;
    display: block;
}

.name{
    font-size: 22pt;
    display: block;
}

.designation{
    font-size: 16pt;
    display: block;
}
.company{
    font-size: 16pt;
    color: #076814;
}

.contact{
    font-size: 24pt;
}

.summery{
    width: 50%;
    /* background: lightblue; */
}

/* ============ what-i-do.html======== */
.what-i-do{
    /* background: greenyellow; */
}

.what-i-do-inner{
    width: 760px;
    max-width: 100%;
    /* background: lightgray; */
    margin: 0 auto;
    justify-content: space-between;
}

/* ============ skills.html======== */
.skills{
    /* background: blue; */
}

.skills-inner{
    width: 760px;
    max-width: 100%;
    /* background: lightgray; */
    margin: 0 auto;
    justify-content: space-between;
}

/* ============ experiences.html======== */
.experiences{
    /* background: magenta; */
}

.experiences-inner{
    width: 760px;
    max-width: 100%;
    /* background: lightgray; */
    margin: 0 auto;
    justify-content: space-between;
}

/* ============ projects.html======== */
.projects{
    /* background: goldenrod; */
}

.projects-inner{
    width: 760px;
    max-width: 100%;
    /* background: lightgray; */
    margin: 0 auto;
    justify-content: space-between;
}

/* ============ recent-posts.html======== */
.recent-posts{
    /* background: cyan; */
}

.recent-posts-inner{
    width: 760px;
    max-width: 100%;
    /* background: lightgray; */
    margin: 0 auto;
    justify-content: space-between;
}

/* ============ achievements.html======== */
.achievements{
    /* background: forestgreen; */
}

.achievements-inner{
    width: 760px;
    max-width: 100%;
    /* background: lightgray; */
    margin: 0 auto;
    justify-content: space-between;
}